<h2>Add a Post!</h2>
<br>
<form method="post" action="/posts">
        <label>Title:</label>
        <input type="text" name="title">
        <br>
        <textarea name="body"></textarea>
        <br>
        <input type="submit">
</form>


