<h2><%= @post.title %></h2>
<br>
<p><%= @post.body %></p>

<form method="POST" action="/posts/<%= @post.id %>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>

<a href="/posts/<%= @post.id %>/edit"><button>Edit this post</button></a>
<a href="/posts"><button>View all my posts</button></a>