<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <ul>
      <li><a href="/signup">Sign Up!</a></li>
      <li><a href="/login">Log In</a></li>
    </ul>
    <h2>My Blog Post Application!</h2>

  </div>
</div>
